.jquery_file_uploader .dm-uploader{cursor:default;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:.25rem dashed #A5A5C7;text-align:center}
.jquery_file_uploader .dm-uploader.active{border-color:red;border-style:solid}
.jquery_file_uploader .dm-uploader .btn{position:relative;overflow:hidden}
.jquery_file_uploader .dm-uploader .btn input[type=file]{position:absolute;top:0;right:0;margin:0;border:solid transparent;width:100%;opacity:0;cursor:pointer}
.jquery_file_uploader #files,
.jquery_file_uploader #files_overview{overflow-y:scroll!important;min-height:120px}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex{display:flex;align-items:center;}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex .file_name{width:70%;}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex .cloud_icon{width:20px;font-size:16px;}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex .file_download .lds-dual-ring{display:none;}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex .lds-dual-ring{display:inline-block;width:20px;height:14px;}
.jquery_file_uploader #files_overview li.media .media-body .file_name_flex .lds-dual-ring:after{content:" ";display:block;width:20px;height:18px;border-radius:50%;border:2px solid #fff;border-color:#fff transparent;animation:lds-dual-ring 1.2s linear infinite}
.jquery_file_uploader .card .files_as_zip .lds-dual-ring{display:none;width:20px;height:14px;}
.jquery_file_uploader .card .files_as_zip .lds-dual-ring:after{content:" ";display:block;width:20px;height:18px;border-radius:50%;border:2px solid #73818f;border-color:#73818f transparent;animation:lds-dual-ring 1.2s linear infinite}
@keyframes lds-dual-ring {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
.jquery_file_uploader #debug{overflow-y:scroll!important;height:180px}